.tabela{
	border-collapse:collapse;
}

.cabecalho{
	text-align:center;
	background:none repeat scroll 0  0 #ff0000;
	color : #FFFFFF;
	border-bottom:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	padding:5px;
}

.linha-impar{
	text-align:left;
	background:none repeat scroll 0 0 #FFFFFFF;
	border:1px solid #671500;
}

.linha-par{
	text-align:left;
	background:none repeat scroll 0 0 #ff0000;
	border:1px solid #ffb38f;
}